.create-recipe-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.create-recipe-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: nowrap;
  width: 800px;
  height: auto;
  background-color: aliceblue;
  box-shadow: -1px 8px 20px rgba(0, 0, 0, 0.4);
  border-radius: solid 10px;
  padding: 20px;
  border-radius: 4px;
  color: rgb(68, 68, 68);
  margin-top: 20px;
  margin-bottom: 30px;
}
.label-main {
  text-align: center;
  width: 2000px;
  margin-bottom: 8px;
}
.label-main-steps {
  text-align: center;
  width: 2000px;
  margin-bottom: 8px;
  margin-top: 32px;
  font-weight: 600;
}
.input-health-recipe {
  width: 400px;
  height: 30px;
  border-radius: 20px;
  border: solid 1px #ccc;
  padding-left: 10px;
  font-size: 15px;
  margin-bottom: 14px;
}
.input-form-recipe {
  width: 400px;
  height: 40px;
  border-radius: 6px;
  border: solid 1px #ccc;
  padding-left: 10px;
  font-size: 15px;
  margin-bottom: 14px;
}
.create-recipe-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 300px;
}

.img-form {
  width: 410px;
  margin-bottom: 10px;
  /* height: 100%; */
}

.label-main {
  font-weight: 600;
}
.btnDisabled {
  width: 80px;
  height: 100%;
  border: none;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  color: #000;
  background-color: grey;
  padding: 8px 10px;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.3s;
}

.button-submit {
  width: 80px;
  height: 100%;
  border: none;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  color: #000;
  background-color: var(--color-primary-500);
  padding: 8px 10px;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.3s;
}
.btn-delete {
  margin: 22px 6px;
  height: 20px;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 6px;
}
.btn-delete:hover {
  background: rgba(255, 0, 0, 0.813);
  color: #000;
}
.div-delete {
  margin: auto 4px;
  font-size: 18px;

  display: inline-flex;
  justify-content: space-evenly;
}

.button-submit:hover {
  background: #fff;
  color: #000;
  transition: 0.3s;
}

.camera {
  width: 40px;
}
.error-message,
.error-message-summary,
.error-message-diets,
.error-message-setps {
  font-size: 15px;
  margin-top: 10px;
  position: absolute;
  color: red;
}
.error-message {
  margin-bottom: 960px;
  margin-right: 100px;
}
.error-message-summary {
  margin-bottom: 554px;
  margin-right: 134px;
}
.error-message-diets {
  margin-top: 388px;
  margin-right: 210px;
}
.error-message-setps {
  margin-top: 490px;
  margin-right: -485px;
}
.input-ready-recipe {
  width: 200px;
  height: 30px;
  border-radius: 6px;
  border: solid 1px #ccc;
  padding-left: 10px;
  font-size: 15px;
  margin-bottom: 14px;
}
.input-steps-recipe {
  width: 400px;
  height: 70px;
  border-radius: 6px;
  border: solid 1px #ccc;
  padding-left: 10px;
  font-size: 15px;
  margin-bottom: 14px;
}

.btn-back-form {
  position: absolute;
  padding: 16px 30px;
  background-color: orange;
  font-size: 1.2rem;
  border: 0;
  border-radius: 0.4rem;
  box-shadow: -1px 1px 108px rgba(11, 10, 10, 0.4);
  cursor: pointer;
  text-decoration: none;
  transition: 0.3s;
  margin: 30px 10px;
}

.btn-back-form:hover {
  background: rgb(240, 36, 36);
  color: #000;
}

@media (max-width: 675px) {
  .create-recipe-main {
    width: 320px;
  }
  .label-main {
    width: 336px;
  }
  .input-form-recipe {
    width: 250px;
    margin-top: 15px;
  }
  .label-main-steps {
    width: 200px;
  }
  .input-health-recipe {
    width: 300px;
  }
  .input-ready-recipe {
    width: 250px;
  }
  .img-form {
    width: 337px;
  }
  .input-steps-recipe {
    margin-left: 30px;
    width: 250px;
    height: 150px;
  }
  .select-diets-container {
    width: 337px;
  }

  .error-message-summary {
    width: 10px;
  }
  .error-message-steps {
    margin-top: 1000px;
    margin-right: 153px;
  }
  .h1-tittle {
    margin-top: 50px;
  }
  .bloq-url {
    margin-left: 5px;
  }
  .bloq {
    width: 10px;
  }
  .add-url {
    margin-left: 100px;
  }
  .cuisines {
    margin-top: 10px;
  }
}

.bloq {
  width: 40px;
}
.add-url {
  margin-bottom: 10px;
}
