.container-pagedetail-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 85%;
  justify-content: space-around;
  background-color: #fff;
  box-shadow: -1px 1px 8px rgba(0, 0, 0, 0.4);
  padding-left: 10px;
  margin: 10px auto;
  border-radius: 10px;
}
.diets-list {
  line-height: 20px;
  margin: 20px 35px;
}
.dish-list {
  line-height: 20px;
  margin: 20px -20px;
}
.p-ready {
  line-height: 20px;
  margin: 20px 60px;
}
.healthScore {
  line-height: 20px;
  margin: 20px -50px;
}
.container-tables {
  display: flex;

  width: 600px;
  height: 310px;
  font-size: 25px;

  margin: 50px 30px 0px 60px;
}

.btnDiets {
  width: 1000px;
  height: 10px;
  border: solid red 10px;
  padding: 100px 20px 100px 100px;
  display: flex;
  font-size: 15px;
  text-align: justify;
  justify-content: center;
  align-items: center;
}

.title-pagedetail {
  margin-top: -10px;
  font-size: 240%;
  font-family: cursive;
}

.diets {
  text-align: justify;
  width: 550px;
}
.btn-back-card {
  margin-right: 90%;
  padding: 16px 12px;
  background-color: orange;
  font-size: 1.2rem;
  font-weight: 400;
  border: 0;
  border-radius: 0.4rem;
  box-shadow: -1px 1px 8px rgba(0, 0, 0, 0.4);
  cursor: pointer;
  text-decoration: none;
  transition: 0.3s;
  margin-top: 10px;
  width: 120px;
}

.btn-back-card:hover {
  background: #fff;
  color: #000;
}
.image-page-detail {
  margin: 60px auto;
  width: 75%;
  height: 50%;
  box-shadow: -1px 1px 8px rgba(0, 0, 0, 0.4);
  display: flex;

  border-radius: 10px;
}
.container-image {
  position: relative;
  display: flex;

  margin-right: 30%;
  border-radius: 10px;
}
.healthScore {
  margin-right: -5%;
  padding-left: 5%;
  text-align: center;
}

.cuisines {
  font-size: 30px;
  margin-top: 4%;
  margin-left: 5%;
  line-height: 12px;
  text-align: center;
}

.recipe-delete {
  margin-top: 30px;
  padding: 16px 30px;
  background: rgb(189, 0, 0);
  color: #fff;
  font-size: 1rem;
  font-weight: 400;
  border: 0;
  border-radius: 0.4rem;
  box-shadow: -1px 1px 8px rgba(236, 159, 51, 0.37);
  cursor: pointer;
  text-decoration: none;
  transition: 0.3s;
}
.recipe-delete:hover {
  background: rgb(3, 1, 0);
  color: rgb(255, 0, 0);
}

.div-summary {
  background-color: rgba(128, 128, 128, 0.461);

  border-radius: 10px;
  box-shadow: -1px 1px 8px rgba(0, 0, 0, 0.4);
  padding: 10px;
  margin: auto 10px 25px;
}
.container-diets {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 550px;
  margin: 20px;
  
}

@media (max-width: 675px) {
  .image-page-detail {
    width: 300px;
    margin-left: 271px;
    margin-top: 10px;
  }

  .btn-back-card {
    width: 80px;
    font-size: 16px;
    margin-left: 50px;
  }

  .title-pagedetail {
    font-size: 45px;
    margin-top: 10px;
  }
  .container-image {
    display: flex;
    display: inline;
  }
  .cuisines {
    left: 495px;
    top: -10px;
  }
  .container-tables {
    font-size: 20px;
    margin-top: -65px;
    margin-left: 125px;
    margin-bottom: 100px;
    display: inline-block;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .div-summary {
    margin-top: 20px;
    margin-left: 1px;
  }
}
